name: DCO Check

on:
  pull_request:
    branches: [main, master]

jobs:
  dco:
    name: Developer Certificate of Origin
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: DCO Check
        uses: dromara/dco-check@v1.0.0
